flows.json
[{"id":"8c99998f.ec7388","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e15b1b4f.09b798","type":"ibmiot in","z":"8c99998f.ec7388","authentication":"apiKey","apiKey":"ec8fbfed.87956","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"249867","applicationId":"","deviceType":"nodered","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":180,"y":180,"wires":[["a63df277.ea6c","2b753daa.a96b02","de1290c9.f183c"]]},{"id":"a63df277.ea6c","type":"debug","z":"8c99998f.ec7388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":180,"wires":[]},{"id":"2b753daa.a96b02","type":"function","z":"8c99998f.ec7388","name":"temperature","func":"global.set('temperature',msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":100,"wires":[["a63df277.ea6c","b8cbb5f.fea5448"]]},{"id":"de1290c9.f183c","type":"function","z":"8c99998f.ec7388","name":"humidity","func":"global.set('humidity',msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":280,"wires":[["a63df277.ea6c","d71cba1d.d52698"]]},{"id":"b8cbb5f.fea5448","type":"ui_gauge","z":"8c99998f.ec7388","name":"","group":"e5e5103e.b5533","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature ","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":100,"wires":[]},{"id":"d71cba1d.d52698","type":"ui_gauge","z":"8c99998f.ec7388","name":"","group":"e5e5103e.b5533","order":2,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":280,"wires":[]},{"id":"bcceb3b5.5927f","type":"http in","z":"8c99998f.ec7388","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":180,"y":600,"wires":[["b70a6aef.f40aa8"]]},{"id":"71d2769e.f5b258","type":"http response","z":"8c99998f.ec7388","name":"","statusCode":"","headers":{},"x":610,"y":600,"wires":[]},{"id":"b70a6aef.f40aa8","type":"function","z":"8c99998f.ec7388","name":"webpage","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":600,"wires":[["71d2769e.f5b258"]]},{"id":"32e24cd4.c8f7a4","type":"ui_button","z":"8c99998f.ec7388","name":"","group":"e5e5103e.b5533","order":3,"width":0,"height":0,"passthru":false,"label":"LIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTON\"}","payloadType":"json","topic":"","x":340,"y":440,"wires":[["14641b83.32bee4"]]},{"id":"7098ed20.64ee44","type":"ui_button","z":"8c99998f.ec7388","name":"","group":"e5e5103e.b5533","order":4,"width":0,"height":0,"passthru":false,"label":"LIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTOFF\"}","payloadType":"json","topic":"","x":330,"y":540,"wires":[["14641b83.32bee4"]]},{"id":"14641b83.32bee4","type":"ibmiot out","z":"8c99998f.ec7388","authentication":"apiKey","apiKey":"ec8fbfed.87956","outputType":"evt","deviceId":"249867","deviceType":"nodered","eventCommandType":"home","format":"string","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":480,"wires":[]},{"id":"4d19301f.b549d","type":"http in","z":"8c99998f.ec7388","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":220,"y":380,"wires":[["1ea9287b.871628"]]},{"id":"6ee2d630.669fb8","type":"http response","z":"8c99998f.ec7388","name":"","statusCode":"","headers":{},"x":640,"y":380,"wires":[]},{"id":"1ea9287b.871628","type":"function","z":"8c99998f.ec7388","name":"command","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":380,"wires":[["6ee2d630.669fb8","d3d7c06f.0b389","14641b83.32bee4"]]},{"id":"d3d7c06f.0b389","type":"debug","z":"8c99998f.ec7388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":340,"wires":[]},{"id":"ec8fbfed.87956","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e5e5103e.b5533","type":"ui_group","z":"","name":"smart home","tab":"f064e528.c78b38","order":1,"disp":true,"width":"6","collapse":false},{"id":"f064e528.c78b38","type":"ui_tab","z":"","name":"smart home","icon":"dashboard","disabled":false,"hidden":false}]